@model EasyBooking.Models.ViewModels.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flight.FlightCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.FlightCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightClassNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightClassNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
