@model EasyBooking.Models.ViewModels.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsFirstclass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsFirstclass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsEconomyclass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsEconomyclass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
